<?xml version="1.0" encoding="utf-8"?>
<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=169433
	-->
<configuration>
	<configSections>
		<section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
		<section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
		<section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
		<section name="cacheDiagnostics" type="Microsoft.ApplicationServer.Caching.AzureCommon.DiagnosticsConfigurationSection, Microsoft.ApplicationServer.Caching.AzureCommon" allowLocation="true" allowDefinition="Everywhere" />
	</configSections>
	<system.diagnostics>
		<trace>
			<listeners>
				<add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
					<filter type="" />
				</add>
			</listeners>
		</trace>
	</system.diagnostics>
	<connectionStrings>
		<!-- Local Server-->
		<!--<add name="ApplicationServices" connectionString="Data Source=sqlpoc.cloudapp.net, 1433;Initial Catalog=COMMERCE;User ID=examdb;Password=examdb;MultipleActiveResultSets=True"/>
		<add name="COMMERCEEntities" connectionString="metadata=res://*/Data_Access.EDM_Commerce.csdl|res://*/Data_Access.EDM_Commerce.ssdl|res://*/Data_Access.EDM_Commerce.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=sqlpoc.cloudapp.net, 50000;Initial Catalog=COMMERCE;User ID=examdb;Password=examdb;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>-->
		<!-- Cloud Server-->
		<add name="ApplicationServices" connectionString="Data Source=sqlpoc.cloudapp.net,1433;Initial Catalog=COMMERCE;User ID=examdb;Password=examdb;MultipleActiveResultSets=True" />
		<add name="COMMERCEEntities" connectionString="metadata=res://*/Data_Access.EDM_Commerce.csdl|res://*/Data_Access.EDM_Commerce.ssdl|res://*/Data_Access.EDM_Commerce.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=sqlpoc.cloudapp.net,1433;Initial Catalog=COMMERCE;User ID=examdb;Password=examdb;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<!--
		For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.5" />
			</system.Web>
	-->
	<location path="FederationMetadata">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<system.web>
		<authorization>
			<deny users="?" />
		</authorization>
		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.5">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<!--Commented by Identity and Access VS Package-->
		<!--<authentication mode="Forms"><forms loginUrl="~/Account/Login.aspx" timeout="2880" /></authentication>-->
		<membership>
			<providers>
				<clear />
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>
		<profile>
			<providers>
				<clear />
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
			</providers>
		</profile>
		<roleManager enabled="true">
			<providers>
				<clear />
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
			</providers>
		</roleManager>
		<pages controlRenderingCompatibilityVersion="4.0" />
		<httpRuntime requestValidationMode="4.5" />
		<!-- Windows Azure Caching session state provider -->
		<sessionState mode="Custom" customProvider="AFCacheSessionStateProvider">
			<providers>
				<add name="AFCacheSessionStateProvider" type="Microsoft.Web.DistributedCache.DistributedCacheSessionStateStoreProvider, Microsoft.Web.DistributedCache" cacheName="default" dataCacheClientName="default" applicationName="AFCacheSessionState" />
			</providers>
		</sessionState>
		<!-- Windows Azure Caching output caching provider -->
		<!--Uncomment this section to use Windows Azure Caching for output caching-->
		<!--<caching>
			<outputCache defaultProvider="AFCacheOutputCacheProvider">
				<providers>
					<add name="AFCacheOutputCacheProvider" type="Microsoft.Web.DistributedCache.DistributedCacheOutputCacheProvider, Microsoft.Web.DistributedCache" cacheName="default" dataCacheClientName="default" applicationName="AFCacheOutputCache" />
				</providers>
			</outputCache>
		</caching>-->
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="FormsAuthentication" />
			<add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
			<add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
		</modules>
	</system.webServer>
	<location path="Checkout.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="OrderList.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="OrderDetails.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<system.web>
		<customErrors mode="Off" />
	</system.web>
	<appSettings>
		<add key="ida:FederationMetadataLocation" value="https://sqlpoc.accesscontrol.windows.net/FederationMetadata/2007-06/FederationMetadata.xml" />
		<add key="ida:Issuer" value="https://sqlpoc.accesscontrol.windows.net/v2/wsfederation" />
		<add key="ida:ProviderSelection" value="ACS" />
	</appSettings>
	<system.identityModel>
		<identityConfiguration>
			<audienceUris>
				<add value="http://flipbayzon.cloudapp.net/" />
			</audienceUris>
			<issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
				<authority name="https://sqlpoc.accesscontrol.windows.net/">
					<keys>
						<add thumbprint="54F18E0CF9D0DF097598FFD5706B75A2870B1FFA" />
					</keys>
					<validIssuers>
						<add name="https://sqlpoc.accesscontrol.windows.net/" />
					</validIssuers>
				</authority>
			</issuerNameRegistry>
			<!--certificationValidationMode set to "None" by the the Identity and Access Tool for Visual Studio. For development purposes.-->
			<certificateValidation certificateValidationMode="None" />
		</identityConfiguration>
	</system.identityModel>
	<system.identityModel.services>
		<federationConfiguration>
			<cookieHandler requireSsl="false" />
			<wsFederation passiveRedirectEnabled="true" issuer="https://sqlpoc.accesscontrol.windows.net/v2/wsfederation" realm="http://flipbayzon.cloudapp.net" requireHttps="false" />
		</federationConfiguration>
	</system.identityModel.services>
	<dataCacheClients>
		<dataCacheClient name="default">
			<!--To use the in-role flavor of Windows Azure Caching, set identifier to be the cache cluster role name -->
			<!--To use the Windows Azure Caching Service, set identifier to be the endpoint of the cache cluster -->
			<autoDiscover isEnabled="true" identifier="sqlpoc.cache.windows.net" />
			<!--<localCache isEnabled="true" sync="TimeoutBased" objectCount="100000" ttlValue="300" />-->
			<!--Use this section to specify security settings for connecting to your cache. This section is not required if your cache is hosted on a role that is a part of your cloud service. -->
			<securityProperties mode="Message" sslEnabled="false">
				<messageSecurity authorizationInfo="YWNzOmh0dHBzOi8vc3FscG9jMTM0MS1jYWNoZS5hY2Nlc3Njb250cm9sLndpbmRvd3MubmV0Ly9XUkFQdjAuOS8mb3duZXImQ1hBaElRa3IwYXVJVWgvNytRelk2NnkvUzdUMks1ZU9mc0FzZExDQWgvTT0maHR0cDovL3NxbHBvYy5jYWNoZS53aW5kb3dzLm5ldC8=" />
			</securityProperties>
		</dataCacheClient>
	</dataCacheClients>
	<cacheDiagnostics>
		<crashDump dumpLevel="Off" dumpStorageQuotaInMB="100" />
	</cacheDiagnostics>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.WindowsAzure.ServiceRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>